* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#Container_Master {
    background-color: #f2f2f2;
    padding-top: 15PX;
    width: 100%;
    height: 100%;
}
#Content{
    background-color: #ffffff;
    margin-left: 1%;
    width: 98%;
}
#Header{
    background-color: #ece2d6;
    height: 182px;
}
#Header  #Arrows img {
    margin-left: 50%;
}
#Header  #Triangle img {
    float: right;
    margin-top: -30px;
    margin-right: 20px;
}
#Header #Logo_Bolls {
    display: flex;
}
#Header #Bolls img {
    margin-left: 10px;
    margin-top: 10px;
}
#Header #Logo_Manda img{
    margin-left: 0px;
    margin-top: -5px;
}
#Header #Text {
    margin-top: -110px;
    margin-right: 53px;
    float: right;
    width: 200px;
}
#Header #Text img {
    width: 200px;
}

#Woman {
    width: 200px;
    margin-top: -112px;
    margin-left: 50%;
}
#NFR_Vision {
    width: 100%;
    text-align: center;
}
#NFR_Vision #Banner {
    width: 80%;
    margin-left: 10%;
}
#NFR_Vision #Banner #Banner_img {
    width: 100%;
}
#Title {
    width: 80%;
    margin-left: 10%;
}
#Primary {
    margin-top: 15px;
}
h5 {
    margin-top: 15px;
}
#Fonte {
    margin-top: 5px;
    color: #b2b2b2;
    font-style: italic;
}
#NBA_Whatsapp {
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 30px;
    width: 80%;
    display: flex;
}
#NBA_Whatsapp #NBA {
    margin-right: 20%;
    width: 40%;
}
#NBA_Whatsapp #Whatsapp {
    width: 40%;
}

#Bar_orange{
    background-color: #fc4c02;
    text-align: center;
    width: 100%;
}
footer {
    margin-top: 20px;
    text-align: center;
}

@media(max-width:528px) {
    #Header #Text {
        display: none;
    }
    #NBA_Whatsapp {
        width: 80%;
    }
    #NBA_Whatsapp #NBA {
        margin-right: 0;
        width: 50%;
    }
    #NBA_Whatsapp #NBA #NBA_img {
        height: 135px;
        width: 100%;
    }
    #NBA_Whatsapp #NBA #Bar_NBA {
        width: 80%;
    }
    #NBA_Whatsapp #Whatsapp {
        width: 50%;
    }
    #NBA_Whatsapp #Whatsapp #Whats_img {
        height: 135px;
        width: 100%;
    }
    #NBA_Whatsapp #Whatsapp #Bar_Whats {
        width: 80%;
    }
}
@media(max-width: 600px){
    #Woman {
        display: none;
    }
    #NFR_Vision{
        margin-top: 20px;
    }
    #NBA_Whatsapp {
        width: 80%;
    }
    #NBA_Whatsapp #NBA {
        margin-right: 0;
        width: 50%;
    }
    #NBA_Whatsapp #NBA #NBA_img {
        height: 135px;
        width: 100%;
    }
    #NBA_Whatsapp #NBA #Bar_NBA {
        width: 80%;
    }
    #NBA_Whatsapp #Whatsapp {
        width: 50%;
    }
    #NBA_Whatsapp #Whatsapp #Whats_img {
        height: 135px;
        width: 100%;
    }
    #NBA_Whatsapp #Whatsapp #Bar_Whats {
        width: 80%;
    }
}
@media(max-width: 768px){
    #Woman {
        display: none;
    }
    #NFR_Vision {
        margin-top: 20px;
    }
    #NBA_Whatsapp {
        width: 80%;
    }
    #NBA_Whatsapp #NBA {
        margin-right: 0;
        width: 50%;
    }
    #NBA_Whatsapp #NBA #NBA_img {
        height: 135px;
        width: 100%;
    }
    #NBA_Whatsapp #NBA #Bar_NBA {
        width: 80%;
    }
    #NBA_Whatsapp #Whatsapp {
        width: 50%;
    }
    #NBA_Whatsapp #Whatsapp #Whats_img {
        height: 135px;
        width: 100%;
    }
    #NBA_Whatsapp #Whatsapp #Bar_Whats {
        width: 80%;
    }
}
@media(max-width: 992px){
    #Woman {
        display: none;
    }
    #NFR_Vision {
        margin-top: 20px;
    }
    #NBA_Whatsapp {
        width: 80%;
    }
    #NBA_Whatsapp #NBA {
        margin-right: 0;
        width: 40%;
        margin-right: 20%;
    }
    #NBA_Whatsapp #NBA #NBA_img {
        height: 135px;
        width: 100%;
    }
    #NBA_Whatsapp #NBA #Bar_NBA {
        width: 80%;
    }
    #NBA_Whatsapp #Whatsapp {
        width: 40%;
    }
    #NBA_Whatsapp #Whatsapp #Whats_img {
        height: 135px;
        width: 100%;
    }
    #NBA_Whatsapp #Whatsapp #Bar_Whats {
        width: 80%;
    }

    
}

